@using MVC.Controls
@using Hsr.HtmlHelperEX
@model Hsr.Models.UserSummaryInfos
<div id="divList" class="strollContainer">
    <table class="table table-striped table-hover table-bordered table-condensed">
        <thead>
            <tr>
              
                <th>省</th>
                <th>市</th>
                <th>部门</th>
                <th>用户名</th>
                <th>姓名</th> 
                <th>角色名称</th>
                <th>有效标志</th>
                <th>最后登录时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>@item.ProvinceName</td>
                    <td>@item.CityName</td>
                    <td>@item.Detail.DeptName</td>
                    <td>@item.UserName</td>
                    <td>@item.Detail.RealName</td>
                    <td>@string.Join(",",item.Role.Select(d=>d.RoleName))</td>
                    <td>@item.Detail.Isenabled</td>
                     <td>@item.LoginTime</td>
                    <td>
                        @Html.ActionLinks("编辑","Edit","UserSummaryInfo", new { id = item.Auid },new{compIds=item.Detail.CompId,deptIds=item.Detail.DeptId,roleIds=string.Join(",",item.Role.Select(d=>d.RoleId))})|
                        @Html.ActionLink("查看","Detail","UserSummaryInfo", new { id = item.Auid},new{compIds=item.Detail.CompId,deptIds=item.Detail.DeptId,roleIds=string.Join(",",item.Role.Select(d=>d.RoleId))})|
                        @Html.ActionLinks("删除","Delete","UserSummaryInfo",null,new {onclick="Delete("+"'"+@item.Auid+"'"+")", href="javascript:void(0)"})
                            
                    </td>
                   
                </tr>
            }
        </tbody>
    </table>

    <div class="pager" id="pager">
        @Html.Pager(Model).QueryParam("pagenumber").ShowTotalSummary(true)
    </div>
</div>
