@using Hsr.App_Start
@using Hsr.HtmlHelperEX
@model Hsr.Model.Models.ViewModel.OrganizeInfoVms

@{
    ViewBag.Title = "Index";
}
<div class="div-custom">
        <div class="row">
            <button class="btn btn-primary btn-none" onclick="$('#accordion').toggle(300)" data-toggle="button" ><span class="glyphicon glyphicon-pushpin" ></span></button>
        </div>
     </div> 
<div class="panel-group col-md-3" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="headingOne" data-target="#collapseOne" data-toggle="collapse" data-parent="#accordion">
            <h5 class="tree-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <span class="glyphicon glyphicon-map-marker"></span>区域查询
                </a>
            </h5>
        </div>
        <div id="collapseOne" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body treeContainer">
                <div id='divAreatree'></div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary" >
        <div class="panel-heading" role="tab" id="headingTwo">
            <h5 class="tree-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <span class="glyphicon glyphicon-home"></span>组织机构
                </a>
            </h5>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body treeContainer">
                 <div id='orgTree'></div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-8">
    <div class="row" >
        <h4 style="float: left">菜单列表</h4>
        <div style="float: right">
            @Html.ActionLinks(@"新建公司", "Create", "OrganizeInfo", null, new {@class = "btn btn-success btn-sm", id = "CreateOrg", name = "Create", @style="margin-top:5px"})
            @Html.ActionLinks(@"新建部门", "Create", "OrganizeInfo", null, new {@class = "btn btn-success btn-sm", id = "CreateDep", name = "Create", @style="margin-right:10px; margin-top:5px"})
        </div>
    </div>
     
    <div id="divList">
        @Html.Partial("OrgList",Model)
    </div>
 
</div>
@section scripts
{
    @Scripts.Render(BundleConfig.JsTree)
    @Styles.Render(BundleConfig.JsTreeCss)
    @Scripts.Render(BundleConfig.SingleFileUpLoadJsPath)
    @Scripts.Render("~/bundles/organizeInfo")
    
}



