@model  Hsr.Model.Models.ViewModel.OrganizeInfoVms
 
@{
    ViewBag.Title = "Index";
}
 
<div class="self-adaption " style="background-color: transparent">
       
        <div class="col w2"  id="orgTreeId" style="overflow-y:visible;background-color: transparent"  >
            <div>
            <div data-role="collapsible" data-collapsed-icon="carat-r" data-theme="c" data-iconpos="right" style="background-color: transparent ">
    
                <h1>区域管理</h1>
                <div id="divjstree">
     	 
					 
                </div>
            </div>
                <div data-role="collapsible" data-collapsed-icon="carat-r"  data-collapsed="false" data-iconpos="right" style="background-color: transparent ">
                    <h1>机构管理</h1>
                    <div id="divTree">
                    
                    </div>

                </div>
              </div>
        </div>
        
</div>
 


<input  type="hidden" value="" id="selectedId" />
<input  type="hidden" value="0" id="orgName" />
<input  type="hidden" value="0" id="icon"  />
<input type="hidden" value="0" id="areaid"/>


<div class="col w8 last box header" style ="display: inline">   


    <div data-role="controlgroup" data-type="horizontal">
     
    <a class="ui-btn ui-shadow ui-corner-all ui-icon-grid ui-btn-icon-notext" onclick="PanelWay('orgTreeId',400)" style="height: 22px"></a>
     
            <input type="button" id="Create"   name="Create" value="新建公司" class="ui-btn" data-theme="c"  />
         
   
            <input type="button" id="CreateDepart"   name="CreateDepart" value="新建部门" class="ui-btn"   />
 
    </div>
    <div class="head"><div></div></div>
    <h2 class="ui-bar ui-bar-a ui-corner-all">机构列表</h2>
    <div id="divOrganizeList" class="ui-body ui-corner-all">

        @Html.Partial("OrganizeInfoList", Model)
    </div>
    <div class="bottom"><div></div></div>
</div>
 
 <style>
    .ui-page-theme-a .ui-body-inherit{
        background-color: transparent;
        border-color: transparent;
          
    }
</style>
 
@section scripts
{
    @Styles.Render("~/Content/jstree")
    @Styles.Render("~/Content/Loading")
    @Scripts.Render("~/bundles/LoadAnima")
    @Scripts.Render("~/bundles/jstree")
    @Scripts.Render("~/bundles/organizeInfo")
    @Scripts.Render("~/bundles/Areatree")
    <script type="text/javascript">
        $(function () {
            InitialUri('@Url.Action("index")', '@Url.Action("Delete")', '@Url.Action("Create")');
            Initial();

        });




    </script>
}
 
 