@model Hsr.Models.Sysrole

@{
    ViewBag.Title = "Delete";
}

<h2>删除</h2>

<h3>确定删除当前所选?</h3>
<fieldset>
    <legend>Sysrole</legend>

    <div class="display-label">@Html.LabelFor(model => model.RoleName)</div>
    <div class="display-field">@Model.RoleName</div>

    <div class="display-label">@Html.LabelFor(model => model.Category)</div>
    <div class="display-field">@Model.Category</div>

    <div class="display-label">@Html.LabelFor(model => model.Isenabled)</div>
    <div class="display-field">@String.Format("{0:F}", Model.Isenabled)</div>

    <div class="display-label">@Html.LabelFor(model => model.Description)</div>
    <div class="display-field">@Model.Description</div>

    <div class="display-label">@Html.LabelFor(model => model.CreateTime)</div>
    <div class="display-field">@String.Format("{0:g}", Model.CreateTime)</div>

    <div class="display-label">@Html.LabelFor(model => model.CreateUserid)</div>
    <div class="display-field">@Model.CreateUserid</div>

    <div class="display-label">@Html.LabelFor(model => model.CreateBy)</div>
    <div class="display-field">@Model.CreateBy</div>

    <div class="display-label">@Html.LabelFor(model => model.OrderNum)</div>
    <div class="display-field">@String.Format("{0:F}", Model.OrderNum)</div>

    <div class="display-label">@Html.LabelFor(model => model.RolePid)</div>
    <div class="display-field">@String.Format("{0:F}", Model.RolePid)</div>

    <div class="display-label">@Html.LabelFor(model => model.RoleLayer)</div>
    <div class="display-field">@String.Format("{0:F}", Model.RoleLayer)</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("退回", "Index")
    </p>
}


